<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <servlet>
    <servlet-name>regdemo</servlet-name>
    <servlet-class>com.pankaj.myservlet.Register</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>regdemo</servlet-name>
    <url-pattern>/reg</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>logindemo</servlet-name>
    <servlet-class>com.pankaj.myservlet.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>logindemo</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Logout</display-name>
    <servlet-name>Logout</servlet-name>
    <servlet-class>com.pankaj.myservlet.Logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/Logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditProfileAbout</display-name>
    <servlet-name>EditProfileAbout</servlet-name>
    <servlet-class>com.pankaj.myservlet.EditProfileAbout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditProfileAbout</servlet-name>
    <url-pattern>/EditProfileAbout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddEducationDetails</display-name>
    <servlet-name>AddEducationDetails</servlet-name>
    <servlet-class>com.pankaj.myservlet.AddEducationDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddEducationDetails</servlet-name>
    <url-pattern>/AddEducationDetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Edit_Education_Details</display-name>
    <servlet-name>Edit_Education_Details</servlet-name>
    <servlet-class>com.pankaj.myservlet.EditEducationDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Edit_Education_Details</servlet-name>
    <url-pattern>/EditEducationDetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddExperienceDetailsdemo</display-name>
    <servlet-name>AddExperienceDetailsdemo</servlet-name>
    <servlet-class>com.pankaj.myservlet.AddExperienceDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddExperienceDetailsdemo</servlet-name>
    <url-pattern>/AddExperienceDetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditExperienceDetailsdemo</display-name>
    <servlet-name>EditExperienceDetailsdemo</servlet-name>
    <servlet-class>com.pankaj.myservlet.EditExperienceDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditExperienceDetailsdemo</servlet-name>
    <url-pattern>/EditExperienceDetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteEducationDetailsDemo</display-name>
    <servlet-name>DeleteEducationDetailsDemo</servlet-name>
    <servlet-class>com.pankaj.myservlet.DeleteEducationDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteEducationDetailsDemo</servlet-name>
    <url-pattern>/DeleteEducationDetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteExperienceDetailsDemo</display-name>
    <servlet-name>DeleteExperienceDetailsDemo</servlet-name>
    <servlet-class>com.pankaj.myservlet.DeleteExperienceDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteExperienceDetailsDemo</servlet-name>
    <url-pattern>/DeleteExperienceDetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ApplyForJobDemo</display-name>
    <servlet-name>ApplyForJobDemo</servlet-name>
    <servlet-class>com.pankaj.myservlet.ApplyForJob</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ApplyForJobDemo</servlet-name>
    <url-pattern>/ApplyForJob</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteMyJob</display-name>
    <servlet-name>DeleteMyJob</servlet-name>
    <servlet-class>com.pankaj.myservlet.DeleteMyJob</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteMyJob</servlet-name>
    <url-pattern>/DeleteMyJob</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SimpleJobSearch</display-name>
    <servlet-name>SimpleJobSearch</servlet-name>
    <servlet-class>com.pankaj.myservlet.SimpleJobSearch</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SimpleJobSearch</servlet-name>
    <url-pattern>/SimpleJobSearch</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ContactUs</display-name>
    <servlet-name>ContactUs</servlet-name>
    <servlet-class>com.pankaj.myservlet.ContactUs</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ContactUs</servlet-name>
    <url-pattern>/ContactUs</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchByloaction</display-name>
    <servlet-name>SearchByloaction</servlet-name>
    <servlet-class>com.pankaj.servlet.SearchByloaction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchByloaction</servlet-name>
    <url-pattern>/SearchByloaction</url-pattern>
  </servlet-mapping>
</web-app>